.head{
    position: absolute;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    left: 40%;
    top: 4%;
}

.body{
    height: 180px;
    width: 100px;
    border: 3px solid black;
    position: absolute;
    left: 40%;
    top: 20%;
    background: yellow;
}

.right.arm{
    width: 30px;
    height: 60px; 
    border-bottom: 20px solid black;
    border-left: 20px solid black;
}

.move1 .right.arm{
    position: absolute;
    top: 25%;
    left: 43%;
}

.left.arm{
    width: 30px;
    height: 60px;
    border-bottom: 20px solid black;
    border-left: 20px solid black;
    z-index: -1;
}

.move1 .left.arm{
    position: absolute;
    top: 25%;
    left: 38%;
    transform: rotateZ(45deg);
}

.left.hita{
    height: 100px;
    width: 50px;
    background: blue;
}

.move1 .left.hita{
    position: absolute;
    top: 48%;
    left: 40%;
}

.right.hita{
    height: 100px;
    width: 50px;
    z-index: -1;
    background: blue;
}

.move1 .right.hita{
    position: absolute;
    left: 44%;
    top: 44%;
    transform: rotateZ(-45deg);
}

.left.binti{
    height: 60px;
    width: 50px;
    background: brown;
}

.move1 .left.binti{
    position: absolute;
    left: 40%;
    bottom: 30%;
}

.right.binti{
    height: 70px;
    width: 50px;
    background: brown;
}

.move1 .right.binti{
    position: absolute;
    bottom: 35%;
    right: 50%;
}